<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 扫描service注解 -->
	<context:component-scan
		base-package="com.zzf.service"></context:component-scan>
	<!-- 读取db.properties -->
	<context:property-placeholder
		location="classpath:config/db.properties" />
	<!-- 配置数据源 -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp2.BasicDataSource">
		<!-- 数据库驱动 -->
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<!-- 连接数据库url -->
		<property name="url" value="${jdbc.url}" />
		<!-- 连接数据库的用户名密码 -->
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<!-- 最大连接数 -->
		<property name="maxTotal" value="${jdbc.maxTotal}"></property>
		<!-- 最大空闲连接数 -->
		<property name="maxIdle" value="${jdbc.maxIdle}"></property>
		<!-- 初始化连接数 -->
		<property name="initialSize" value="${jdbc.initialSize}"></property>
	</bean>

	<!-- 事务管理器，依赖于数据源 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- 开启事务注解，注册事务管理驱动 -->
	<tx:annotation-driven
		transaction-manager="transactionManager" />
	<!-- 配置MyBatis工厂 -->
	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 注入数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 指定核心配置文件的位置 -->
		<property name="configLocation"
			value="classpath:config/mybatis-config.xml"></property>
		<property name="mapperLocations" value="classpath:mapper/*.xml"/>

	</bean>

	<!-- Mapper代理开发(基于MapperScannerConfigurer) -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zzf.dao"></property>
	</bean>
</beans>
